name: Deploy Backend to EC2

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment:
            name: christmas-tracker-1

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            -name: 
