name: Deploy to EC2

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment:
            name: christmas-tracker-1

        steps:
            - name: Checkout repo
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                  node-version: 24

            - name: Build React app
              run: |
                  cd react
                  npm install
                  npm run build

            - name: Copy files to EC2
              uses: appleboy/scp-action@v0.1.7
              with:
                  host: ${{ secrets.EC2_HOST }}
                  username: ${{ secrets.EC2_USER }}
                  key: ${{ secrets.EC2_PEM }}
                  source: "./react/dist/*"
                  target: /home/admin/christmas-tracker/react/dist
