name: Deploy to EC2

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: "Test SSH"
              run: |
                  echo "${{ secrets.EC2_PEM }}" >> ~/.ssh/ec2.pem
                  ssh -i "~/.ssh/ec2.pem" admin@ec2-34-228-58-72.compute-1.amazonaws.com "whoami" 
