name: Deploy to EC2

on:
    push:
        branches: ["main"]

jobs:
    deploy:
        runs-on: ubuntu-latest
        environment:
            name: christmas-tracker-1

        steps:
            - name: "Test SSH"
              run: |
                  mkdir ~/.ssh
                  echo "${{ secrets.EC2_PEM }}" >> ~/.ssh/ec2.pem
                  chmod 400 ~/.ssh/ec2.pem
                  ssh -o "StrictHostKeyChecking no" -i "~/.ssh/ec2.pem" admin@ec2-34-228-58-72.compute-1.amazonaws.com "whoami" 
